.card {
  display: flex;
  flex-flow: column wrap;
  background-color: grey;
  border: solid 1px black;
  border-radius: 5%;
  max-width: 25rem;
  align-items: center;
  margin: 1rem;
}

.card img {
  max-width: 20rem;
  padding: 2rem;
}
